<!DOCTYPE html>
<html lang="ko">
  <head>
   <title>질문에 답글</title>
 </head>
 <body>
   <h2>답글을 완료하였습니다.</h2>
   <hr/>
     <input type="button" value="닫기" onclick="javascript:self.close();parent.opener.location.reload();" />
 </body>
 </html>

