<!DOCTYPE html>
<html lang="ko">
  <head>
   <title>질문에 답글</title>
 </head>
 <body>
   <h2>질문에 답글</h2>
   <hr/>
   <form method="post">
     <textarea name='answer' rows='10' cols='50'  placeholder='답글을 입력하세요.'></textarea><br>
     <input type="submit" value="확인" />
   </form>
 </body>
 </html>

