<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>프로젝트 페이지 개설 신청</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <style type="text/css">
        * { font-family: NanumGothic, 'Malgun Gothic'; }
	    html, body { overflow-x: hidden;  }
        body { padding-top: 50px; width:1300px; margin: 0 auto;}
        footer { padding: 30px 0; }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><b>CrowdFunding</b></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="/logout"><b>로그아웃</b></a></li>
        <li><a href="/mypage"><b>마이페이지</b></a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->

<form action="/apply" class="form-horizontal" method="POST">
  <div class="form-group">
    <div><label class="col-sm-5 control-label"><h2><b>프로젝트 페이지 개설 신청 &nbsp;&nbsp;&nbsp;</b></h2></label></div>
  </div>

  <br/><br/>

  <div class="form-group">
    <label for="title" class="col-sm-2 control-label" >프로젝트 이름</label>
    <div class="col-sm-6">
    	<input type="text" class="form-control" id="title" name="title" placeholder="프로젝트 이름" required>
    </div>
  </div>

<div class="form-group">
    <label for="category" class="col-sm-2 control-label">카테고리</label>
    <div class="col-sm-3">
	     <select class="form-control" name="category" id="category">
	        <option>게임</option>
    	   	 <option>공연</option>
    	   	 <option>디자인</option>
    	   	 <option>만화</option>
    	    	 <option>출판</option>
    	  	 <option>사진</option>
    	  	 <option>영화/비디오</option>
    	  	 <option>테크놀로지</option>
    	    	 <option>음악</option>
    	    	 <option>요리</option>
    	    	 <option>패션</option>
    	   </select>
    </div>
  </div>


  <div class="form-group">
    <label for="type" class="col-sm-2 control-label">종류</label>
    <div class="col-sm-3">
	     <select class="form-control" name="type" id="type">
	        <option>리워드형</option>
	         <option>기부형</option>
	     </select>
     </div>
  </div>
  <input type="hidden" id="data" name="data"/>
  <div class="form-group">
  	<label for="editor" class="col-sm-2 control-label">프로젝트 내용</label>
    	<div class="col-sm-10">
        	<textarea name="editor" id="editor"></textarea>
        	<script>
            		CKEDITOR.replace('editor',{
                		width: 1000,
                		height:400,
                		filebrowserUploadUrl: '/apply/uploader',
	   	  		customConfig: '/editorconfig.js'
            		});
			CKEDITOR.env.isCompatible = true;

            $('#data').val( CKEDITOR.instances.editor.getData() );

        	</script>
    </div>
  </div>

  <br/>

<div class="form-group">
    <label for="info" class="col-sm-2 control-label">창작자 소개</label>
    <div class="col-sm-15">
    	<textarea name="info" id="info" rows="15" cols="120" required></textarea>
    </div>
</div>

<div class="form-group">
    <label for="enddate" class="col-sm-2 control-label" >프로젝트 종료 날짜</label>
    <div class="row">
      <div class="col-sm-3">
  	     <div class="form-group">
	          <div class='input-group date'>
              	<input type="date" id="enddate" name="enddate" required>
            	   </div>
    	     </div>
      </div>
    </div>

  <div class="form-group">
    <label for="goal" class="col-sm-2 control-label" >목표 금액</label>
    <div class="col-sm-5">
      <table>
	       <tr>
      	    		<td><input type="text" class="form-control" id="goal" name="goal" placeholder="목표금액" required></td><td> 원</td>
	       </tr>
     </table>
    </div>
  </div>

  <div class="form-group">
    <label for="reward1" class="col-sm-2 control-label" >리워드1</label>
    <div class="col-sm-8">
    	<table>
		<tr>
      	 	 <td><input type="text" class="form-control" id="reward1" name="reward1" placeholder="없는 경우 공백으로 두세요"> </td>
      		  <td>&emsp;&emsp;</td>
      		  <td><input type="text" class="form-control" id="price1" name="price1" placeholder="금액" required> </td>
      		</tr>
      </table>
    </div>
  </div>

  <div class="form-group">
    <label for="reward2" class="col-sm-2 control-label" >리워드2</label>
    <div class="col-sm-8">
      <table>
	       <tr>
            	    <td><input type="text" class="form-control" id="reward2" name="reward2" placeholder="없는 경우 공백으로 두세요"></td>
	          <td>&emsp;&emsp;</td>
	          <td><input type="text" class="form-control" id="price2" name="price2" placeholder="금액"> </td>
     	   	</tr>
     </table>
    </div>
  </div>

  <div class="form-group">
    <label for="reward3" class="col-sm-2 control-label" >리워드3</label>
    <div class="col-sm-8">
      <table>
	       <tr>
      	    	    <td><input type="text" class="form-control" id="reward3" name="reward3" placeholder="없는 경우 공백으로 두세요"></td>
	          <td>&emsp;&emsp;</td>
	          <td><input type="text" class="form-control" id="price3" name="price3" placeholder="금액"> </td>
	       </tr>
      </table>
    </div>
  </div>

  <div class="form-group">
    <label for="reward4" class="col-sm-2 control-label" >리워드4</label>
    <div class="col-sm-8">
      <table>
	       <tr>
          	   <td><input type="text" class="form-control" id="reward4" name="reward4" placeholder="없는 경우 공백으로 두세요"></td>
	          <td>&emsp;&emsp;</td>
	          <td><input type="text" class="form-control" id="price4" name="price4" placeholder="금액"> </td>
	      </tr>
     </table>
    </div>
  </div>

  <div class="form-group">
    <label for="reward5" class="col-sm-2 control-label" >리워드5</label>
    <div class="col-sm-8">
      <table>
	<tr>
	  <td><input type="text" class="form-control" id="reward5" name="reward5" placeholder="없는 경우 공백으로 두세요"></td>
	  <td>&emsp;&emsp;</td>
	  <td><input type="text" class="form-control" id="price5" name="price5" placeholder="금액"> </td>
	</tr>
      </table>
    </div>
  </div>


  <br/><br/><br/>

  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-10">
      <input type="submit" class="btn btn-default" value="다음단계"/>
    </div>
  </div>

</form>
</body>
</html>

